body {
  display: flex;
  justify-content: center;
  transition: background 1.5s;
}

.container {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  height: 80px;
  width: 1100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.one {
  height: 50px;
  width: 100px;
  font-size: large;
  border: none;
  color: white;
  border-radius: 20px;
}

#Red {
  background-color: red;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    border: 2px solid black;
    opacity: 1;
    height: 55px;
    width: 105px;
  }
}
#Green {
  background-color: green;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    border: 2px solid black;
    opacity: 1;
    height: 55px;
    width: 105px;
  }
}
#Blue {
  background-color: Blue;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    border: 2px solid black;
    opacity: 1;
    height: 55px;
    width: 105px;
  }
}
#Yellow {
  background-color: yellow;
  opacity: 0.5;
  color: black;
  transition: 0.3s;
  &:hover {
    border: 2px solid black;
    opacity: 1;
    height: 55px;
    width: 105px;
  }
}
#white {
  background-color: rgb(255, 0, 238);
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    border: 2px solid black;
    opacity: 1;
    height: 55px;
    width: 105px;
  }
}

#add {
  background-color: rgb(0, 255, 26);
  color: black;
  margin-right: 20px;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    border: 2px solid black;
    opacity: 1;
    height: 55px;
    width: 105px;
  }
}
input {
  height: 30px;
  width: 100px;
}
#custom {
  margin-top: 20px;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  height: 80px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
